<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <!-- For Responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="{{ route() }}media/css/uikit.min.css" />
    {% block headCSSLinks %}{% endblock %}
    <!-- UIkit JS -->
    <script src="{{ route() }}media/js/uikit.min.js"></script>
    <script src="{{ route() }}media/js/uikit-icons.min.js"></script>
    {% block headJavaScriptLinks %}{% endblock %}
    <!-- End for Responsive -->

    <!-- For SEO -->
    <title>{% block title %}Sport Stars!{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="description" content="{% block metaDescription %}The Sport Stars!{% endblock %}">
    <meta name="generator" content="Sport Stars!" />
    <meta property="og:description" content="{{ block('metaDescription') }}" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="Sport Stars!" />
    <meta property="og:title" content="{{ block('title') }}" />
    <meta property="og:type" content="{% block metaOgType %}website{% endblock %}" />
    <meta property="og:url" content="{{ request_uri() }}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@SportStars" />
    <meta name="twitter:description" content="{{ block('metaDescription') }}" />
    <meta name="twitter:title" content="{{ block('title') }}" />
    {% block metadata %}{% endblock %}
    <!-- End for SEO -->

    <!-- For Misc -->
    <link href="favicon.ico" rel="shortcut icon" />
    <!-- End for misc -->

    {% block headCSS %}{% endblock %}
    {% block headJavaScript %}{% endblock %}
</head>
{% block body %}{% endblock %}
</html>