{% block bodyNavigation %}
<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li><a href="{{ route() }}index.php/dashboard">Dashboard</a></li>
            <li><a href="{{ route() }}index.php/users">Users</a></li>
            <li><a href="{{ route() }}index.php/menus">Menus</a></li>
            <li><a href="{{ route() }}index.php/items">Items</a></li>
        </ul>
    </div>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="{{ route() }}index.php/dashboard?task=logout">Logout</a></li>
            <li class="uk-active"><a href="/">Site</a></li>
        </ul>
    </div>
</nav>
{% endblock %}